<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<main>
    <h1>Administration Area</h1>
    <th:block th:object="${buildingsCount}">
        <p th:text="|You have ${buildingsCount} building(s) |"></p>

        <a href="/buildings/">
            <span th:if="hasBuildings">Manage</span>
            <span th:unless="hasBuildings">Add </span>
            buildings</a>
    </th:block>

    <hr/>

    <p><a href="/residents/manage">Manage Residents</a></p>
    <p><a href="/staff/add">Manage Staff</a></p>

    <p><a href="/fees/generate">Generate Monthly Fees</a> </p>
</main>
<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>

</html>