<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
    <main>
        <h1 th:text="${pageTitle}"></h1>
        <th:block th:object="${apartment}">
            <p th:text="| Apartment No: *{number} in ${buildingName},
            Floor: *{floorNumber},
            Pets: *{pets}|"></p>

            <p th:text="|Total residents: *{residents.size()}|"></p>

            <a th:href="@{/buildings/{buildingId}/apartments/{apartmentId}/residents/(buildingId=${buildingId}, apartmentId=${apartmentId})}">
                <span th:if="${hasResidents}">Manage Residents</span>
                <span th:unless="${hasResidents}">Add Residents</span>
            </a>
        </th:block>
    </main>
    <hr/>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>
</html>