<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
    <main>
        <h1 th:text="${pageTitle}"></h1>
        <th:block th:object="${apartment}">
            <p th:text="| Building: ${buildingName}, Apartment No:*{number},
            Floor: *{floorNumber},
            Pets: *{pets},
            Residents: *{residents.size()}|"></p>
        </th:block>
    </main>
    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>
</html>