<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main>
    <h1 th:text="${pageTitle}"></h1>
    <hr/>
    <p th:text="${building.toString}"></p>
    <a th:href="@{/apartments/manage/{buildingId}(buildingId=${building.getId()})}">
        <span th:if="${hasApartments}">Manage Apartments</span>
        <span th:unless="${hasApartments}">Add Apartments</span>
    </a>
    <hr/>

</main>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>