<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<main>
    <div th:unless="${notEmpty}">
    <h1 th:text="${pageTitle}"></h1>
    <hr/>
        <form th:action="@{/fees/generate}" th:method="post">

            <button type="submit">Generate</button>

        </form>
    </div>
    <div th:if="${notEmpty}">
        <h1 th:text="${pageTitle}"></h1>
        <hr/>
        <ul th:each="fee : ${fees}">
            <li>
                <p>Apartment No: <span th:text="${fee.apartment.number}"></span>
                    - <span th:text="| fee: ${fee.getTotal()} |"></span>
                </p>
            </li>
        </ul>
    </div>
    <hr/>
    <div><a href="/">Back to Home</a> </div>
</main>
<hr/>
<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>

</html>