<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main>
    <h1 th:text="${pageTitle}"></h1>
    <th:block th:unless="${isBuilt}">
        <form th:action="@{/building/add}" th:method="post">
            <label for="address">
                <input name="address" type="text" id="address" placeholder="Enter building's address">
            </label>

            <label for="floorsNumber">
                <input name="floorsNumber" type="number" id="floorsNumber" placeholder="Enter number of floors">
            </label>

            <button type="submit">Construct building</button>

        </form>
    </th:block>
    <th:block th:if="${isBuilt}">
        <p th:text="| Building (address: ${building.getAddress()}) |"></p>
        <p th:text="| Floors: ${building.getFloors()} |"></p>
        <p th:text="| Added ${building.getAddedApartments()} apartments |"></p>
    </th:block>
</main>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>