<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main>
    <h1 th:text="${pageTitle}"></h1>
    <hr/>
    <h2 th:text="${pageH2Title}"></h2>
    <form th:action="@{/buildings/}" th:method="post">
        <label for="name">
            <input name="name" type="text" id="name" placeholder="Enter building's name">
        </label>

        <label for="address">
            <input name="address" type="text" id="address" placeholder="Enter building's address">
        </label>

        <label for="floorsNumber">
            <input name="floorsNumber" type="number" id="floorsNumber" placeholder="Enter number of floors">
        </label>

        <button type="submit">Add building</button>

        <th:block th:if="${addedBuilding}">
            <p th:text="|Successfully added building
            ${addedBuilding.getName} with
            ${addedBuilding.getFloors().size} floors,
            address ${addedBuilding.address} |"></p>
            <a th:href="@{/buildings/{buildingId}(buildingId=${addedBuilding.getId()})}" th:text="manage"></a>
        </th:block>

        <th:block th:if="${foundBuilding}">
            <p th:text="${message}"></p>
            <th:block th:if="${foundBuilding.getArchivedOn()}">
                <form
                      th:action="@{/buildings/{buildingId}(buildingId=${foundBuilding.getId()})}"
                      th:method="post">
                    <button type="submit">activate</button>
                </form>
            </th:block>
        </th:block>

        <p th:if="${error}" th:text="${error}"></p>
    </form>
    <hr/>
    <th:block th:if="${hasBuildings}">
        <h3 th:text="${pageH3Title}"></h3>
        <p th:text="|${buildings.size()} building(s) |"></p>
        <ul>
            <li th:each="b : ${buildings}">
                <a th:href="@{/buildings/{buildingId}(buildingId=${b.getId()})}"
                   th:text="|${b.name} (address: ${b.getAddress()}) |"></a>
                <form th:action="@{/buildings/{buildingId}/archive(buildingId=${b.getId()})}" th:method="post">
                    <button type="submit">archive</button>
                </form>

            </li>
        </ul>
    </th:block>
</main>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>