<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main>
    <h1 th:text="${pageTitle}"></h1>
    <hr/>
    <h2 th:text="${pageH2Title}"></h2>
    <form th:action="@{/apartments}" th:method="post">
        <label for="number">
            <input name="number" type="text" id="number" placeholder="Enter apartment number">
        </label>

        <label for="floorNumber">
        <select id="floorNumber" name="floorNumber">
            <option selected disabled>Select floor...</option>
            <option th:each="number : ${floorNumbers}" th:value="${number}" th:text="${number}"></option>
        </select>
        </label>

        <button type="submit">Add</button>
    </form>

    <p th:if="${alreadyExists}" th:text="| Apartment No.${apartmentNumber} already exists!|"></p>
    <p th:if="${success}" th:text="| Apartment No.${apartmentNumber} added on Floor No.${floorNumber} |"></p>


    <th:block th:if="${hasApartments}" th:object="${apartments}">
        <h3 th:text="${pageH3Title}"></h3>
        <!-- show apartments list -->
        <!-- |  Apartment No  |  Floor No  |  Manage Residents  |  Add/Remove Pets  |  -->
        <ul>
            <li th:each="a : ${apartments}" th:text="|
            Apartment No. ${a.number},
            Floor: ${a.floorNumber},
            Residents: ${a.residents.size() + a.children.size()},
            Pets: ${a.pets}
            |"></li>
        </ul>
    </th:block>
</main>
<hr/>
<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>

</html>