<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<main>
    <h1 th:text="${pageTitle}"></h1>
    <p th:text="|Building (address: ${buildingAddress}) has ${residents.size()} residents|"></p>
    <hr/>
    <h2 th:text="${pageH2Title}"></h2>
    <form th:action="@{/residents/add}" th:method="post">
        <label for="firstName">
            <input name="firstName" type="text" id="firstName" placeholder="Enter first name">
        </label>

        <label for="lastName">
            <input name="lastName" type="text" id="lastName" placeholder="Enter last name">
        </label>

        <label for="email">
            <input name="email" type="email" id="email" placeholder="Enter email">
        </label>

        <label for="phoneNumber">
            <input name="phoneNumber" type="text" id="phoneNumber" placeholder="Enter phone number">
        </label>

<!--        <label for="password">-->
<!--            <input name="password" type="password" id="password" placeholder="Enter password">-->
<!--        </label>-->

        <label for="apartmentNumber">
            <select name="apartmentNumber" id="apartmentNumber">
                <option th:each="number : ${apartmentNumbers}"
                        th:value="${number}"
                        th:text="${number}">
                </option>
            </select>
        </label>

        <button type="submit">Add Resident</button>

    </form>
    <th:block th:if="${hasResidents}" th:object="${residents}">
        <hr/>
        <h3 th:text="${pageH3Title}"></h3>
        <ul>
            <li th:each="r : ${residents}">
                <a th:href="@{/buildings/{buildingId}/apartments/{apartmentId}/residents/{residentId}(buildingId=${buildingId}, apartmentId=${apartmentId}, residentId=${r.getId()})}" th:text="${r.toString()}"></a>
            </li>
        </ul>
    </th:block>
</main>
<hr/>
<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>

</html>