<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<main>
    <h1 th:text="${pageTitle}"></h1>
    <hr/>
    <h2 th:text="${pageH2Title}"></h2>
    <form th:action="@{/buildings/}" th:method="post">
        <label for="name">
            <input name="name" type="text" id="name" placeholder="Enter building's name">
        </label>

        <label for="address">
            <input name="address" type="text" id="address" placeholder="Enter building's address">
        </label>

        <label for="floorsNumber">
            <input name="floorsNumber" type="number" id="floorsNumber" placeholder="Enter number of floors">
        </label>

        <button type="submit">Add building</button>

        <p th:if="${addedBuilding}" th:text="|Successfully added building ${addedBuilding}|"></p>
        <p th:if="${error}" th:text="${error}"></p>
    </form>
    <hr/>
    <th:block th:if="${hasBuildings}">
        <h3 th:text="${pageH3Title}"></h3>
        <p th:text="|You manage ${buildings.size()} building(s) |"></p>
        <ul>
            <li th:each="b : ${buildings}">
                <a th:href="@{/buildings/{buildingId}(buildingId=${b.getId()})}"
                   th:text="|${b.name} (address: ${b.getAddress()}) |"></a></li>
        </ul>
    </th:block>
</main>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>